div.sidenav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    min-width: 250px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    min-width: 250px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
}

ul.sidenav li button {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 80px;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


body {
    vertical-align: middle;
    background-color: #F5F5F5;
    font-family: 'Oswald', sans-serif;
}

#leftHeader {
    font-size: 32px;
    text-align: center;
    margin:0;
    padding:0;
    color:white;
}

form.ex1 {
    width:500px;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align:left;
    

}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


.container {
    padding: 16px;
    margin: auto;
}

div.chartDiv {
	display: flex;
  flex-wrap: wrap;
	margin-left: 17%;
	
}
div.chartDiv2 {
	display: flex;
  	flex-wrap: wrap;
 	text-align: center;
	
	
}




/*@media screen and (max-width: 1050px){
    ul.sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}*/

