body {
    vertical-align: middle;
    background-color:black;
    font-family: 'Oswald', sans-serif;
}

#leftHeader {
    font-size: 32px;
    text-align: center;
    margin:0;
    padding:0;
    color:#ECB342;
}

div.ex1 {
    width:500px;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align:center;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    margin: auto;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
	display: block;
	float: none;
    }
    .cancelbtn {
	width: 100%;
    }
}