ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
    font-family: Futura, serif;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 32px;
    margin:0;
    padding:0;
    display:inline;
}


#leftHeader {
    font-size: 32px;
    text-align: left;
    margin:0;
    padding:0;
    display:inline;
    color:#64B3DF
}

#leftHeaderli {
    margin:0;
    padding: 2px 16px;
}

h2 {
    color: #ffffff;
    font-size: 56px;
}

#topDiv {
    font-size: 50px;
    text-align: center;
    vertical-align:center;
    height: 500px;
    background-color:#64B3DF;
    color: white;
}