<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase-database.js"></script>
    <script>
      // Initialize Firebase

      var config = {
      apiKey: "AIzaSyB0BoPYFMnDctiR29gRQSNZe-qqIf91Zg4",
      authDomain: "userlogin-4dd51.firebaseapp.com",
      databaseURL: "https://userlogin-4dd51.firebaseio.com",
      storageBucket: "userlogin-4dd51.appspot.com",
      };
      firebase.initializeApp(config);

      var database = firebase.database();
    </script>
  </head>
  <body>

    
    <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
      	apiKey: "AIzaSyB0BoPYFMnDctiR29gRQSNZe-qqIf91Zg4",
     	 authDomain: "userlogin-4dd51.firebaseapp.com",
      	databaseURL: "https://userlogin-4dd51.firebaseio.com",
      	storageBucket: "userlogin-4dd51.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
    <script>
      var email = "kawarrier@yahoo.com"
      var password = "kawarrier"
      
      firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
      // Handle Errors here.
      	var errorCode = error.code;
      	var errorMessage = error.message;
      	window.alert(errorCode);
      	console.log(errorCode);
      	console.log(errorMessage);
      });

      var BASE_REF = firebase.database().ref();

	  function reconfigureKey(key) {
		var newKey = "";
		for (var i = 0; i < key.length; i++) {
			var ch = key[i];
			if (ch == "@") {
				continue;
			} else if (ch == ".") {
				var concatKey = newKey.concat("dot");
				newKey = concatKey;
			} else {
				var concatKey = newKey.concat(ch);
				newKey = concatKey;
			}
		}
		return newKey;
	  }
	  
	  function reconfigureDate(date) {
		var newDate = "";
		var slashCount = 0;
		var otherCount = 0;
		for (var i = 0; i < date.length; i++) {
			var ch = date[i];
			//this converts the last part of 8-17-2016 to 8-17-16 => year: 20** -> year: **
			if (slashCount >= 2 && otherCount > 0) {
				otherCount--;
				continue;
			}
			else if (ch == "/") {
				slashCount++;
				otherCount++;
				var concatDate = newDate.concat("-");
				newDate = concatDate;
			} else {
				var concatDate = newDate.concat(ch);
				newDate = concatDate;
			}
		}
		return newDate;
	  }
	  
	  function setChart(chartTitle, yAxisTitle, xAxisPoints, dataTitle, dataPoints) {
	  	$(document).ready(function () {
      			$('#container').highcharts({
      			credits: false,
      				title: {
      					text: chartTitle,
      					x: -20 //center
      				},
      				xAxis: {
      					categories: xAxisPoints
      				},
      				yAxis: {
      					title: {
      						text: yAxisTitle
      					},
      					plotLines: [{
      						value: 0,
      						width: 1,
      						color: '#808080'
      					}]
      				},
      				tooltip: {
      					valueSuffix: ''
      				},
      				legend: {
      					layout: 'vertical',
      					align: 'right',
      					verticalAlign: 'middle',
      					borderWidth: 0
      				},
     				 series: [{
      						name: dataTitle,
      						data: dataPoints
      				}]
      			});
      		});
	  }
        
	  var userID = reconfigureKey(email);
	  var valDict = {};
	  var convertedDates = [];
	  var dates = [];
	  var dailyTotalList = [];

	  BASE_REF.on('value', function(snapshot) {
      	console.log(snapshot.val());

      	console.log(snapshot.val());
      	if (snapshot.val()["Users"][userID] != null) {
      		//gets the user's values
      		valDict = snapshot.val()["Users"][userID];
      		//gets the valid date strings and converts them to date objects
      		for (key in valDict) {	
				if (key != "Groups" && key != "chatname") {
					convertedDates.push(new Date(key));
				}	
			}
			//sort date objects
			convertedDates.sort();
			convertedDates.reverse();
			console.log(convertedDates);
			//convert date objects back to date strings
			for (index in convertedDates) {
				var roughDate = convertedDates[index];
				var stringDate = roughDate.toLocaleDateString();
				var date = reconfigureDate(stringDate);
				dates.push(date);
			}
			
			for (i in dates) {
				date = dates[i];
				console.log(date);
				var scoresDict = valDict[date]["scores"];
				dailyTotalList.push(scoresDict["daily total score"]);
			}
			console.log(dailyTotalList);
			
			setChart("Daily Score Totals", "Scores", dates, "daily total", dailyTotalList)
			
      	}
      });
      

     
    </script>
    
  </body>
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyB0BoPYFMnDctiR29gRQSNZe-qqIf91Zg4",
    authDomain: "userlogin-4dd51.firebaseapp.com",
    databaseURL: "https://userlogin-4dd51.firebaseio.com",
    storageBucket: "userlogin-4dd51.appspot.com",
    };
    firebase.initializeApp(config);
    </script>
</html>
