<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    
    <header>
      <nav>
	<ul>
	  <li><a id="leftHeaderli" href="/"><h1 id="leftHeader">Ment2Reach</h1></a></li>
	  <li><a href="#">About</a></li>
	  <li><a href="#">Contact</a></li>
	  <li id="signupli"><a class="signUp" href="#">Sign Up</a></li>
	  <li id="loginli"><a href="/loginpage">Log In</a></li>
	</ul>
      </nav>
    </header>
    <div class = "topDiv">
      <p class = "topP">
	Helping Student Athletes Achieve Maximum Athletic and Academic Potential
      </p>
    </div>
   
    <!--<section class = "topDiv">
      <div>
	<p>Helping Student Athletes Achieve Maximum Athletic and Academic Potential </p>
      </div>
    </section>-->
    
    <!--<% include ../partials/nav.ejs %>-->
    <div>
      <h1>Zalim Man You Know</h1>
      <p> yeah this is what it's alll about.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span>
	Getting Started with Node
      </a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started">
	<span class="glyphicon glyphicon-download"></span>
	Source on GitHub
      </a>
    </div>

  </body>
</html>
