<!DOCTYPE html>
<html>
  <head>
    <!--<% include ../partials/header.ejs %>-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>

    <header class="container">
      <div class="row">
	<h1 class="col-sm-4">Skillfair</h1>
	<nav class="col-sm-8 text-right">
	  <p>newest</p>
	  <p>catalogue</p>
	  <p>contact</p>
	</nav>
      </div>
      </header>
    
    <section class="jumbotron">
      <div class="container">
	<div class="row text-center">
	  <h2>Homemade Goods</h2>
	  <h3>This Year's Best</h3>
	  <a class="btn btn-primary" href="#" role="button">See all</a>
	</div>
      </div>
      </section>
    <!--<% include ../partials/nav.ejs %>-->
    <div class = "content">
      <div class="jumbotron text-center">
	<div class="container">
	  <a href="/" class="lang-logo">
	    <img src="/lang-logo.png">
	  </a>
	  <h1>Zalim Man You Know</h1>
	  <p> yeah this is what it's alll about
	    .</p>
	  <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span>
	    Getting Started with Node
	  </a>
	  <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started">
	    <span class="glyphicon glyphicon-download"></span>
	    Source on GitHub
	  </a>
	</div>
	
      </div>
    </div>

    <div id="container" style="width:100%; height:400px;">
      <script>
	$(function () {
	   $('#container').highcharts({
	      chart: {
	         type: 'bar'
	      },
	      title: {
	         text: 'Fruit Consumption'
	      },
	      xAxis: {
	         categories: ['Apples', 'Bananas', 'Oranges']
	      },
	      yAxis: {
	         title: {
	            text: 'Fruit eaten'
	         }
	      },
	      series: [{
	         name: 'Jane',
	         data: [1, 0, 4]
	      }, {
	         name: 'John',
	         data: [5, 7, 3]
	      }]
 	    });
	});
      </script>
    </div>
    
    
  </body>
</html>
