<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    
    <header>
      <nav>
	<ul>
	  <li><a id="leftHeaderli" href="/"><h1 id="leftHeader"></h1></a></li>
	  <li><button id="aboutButton" style="width:100%;">About</button></li>
	  <li><button id="processButton" style="width:100%;">Our Process</button></li>
	  <li><button id="samplesButton" style="width:100%;">Sample Profiles</button></li>
	  <li id="signupli"><a class="signUp" href="#">Sign Up</a></li>
	  <li id="loginli"><a href="/loginpage">Log In</a></li>
	</ul>
      </nav>
    </header>
    <!--<div class="parallax"><div>-->
    <!--<div class="parallax2"><div>-->
    <div class = "parallax">
      <p class = "topP">
		Helping Student Athletes Achieve Maximum Athletic and Academic Potential
      </p>
    </div>
   
    <!--<section class = "topDiv">
      <div>
	<p>Helping Student Athletes Achieve Maximum Athletic and Academic Potential </p>
      </div>
    </section>-->
    
    <!--<% include ../partials/nav.ejs %>-->
    <div class="parallax2" style="text-align:left;">

    	<h1 class="panel2Header" style="text-align:left;">The Mission</h1>
     	 <p class="secondP"> Believing that all student-athletes are meant to reach their potentials and recognizing the various social and 
     	 					cultural barriers that may obstruct their progression, we are committed to mentor each of our student-athletes to
     	 					 accelerate academic, athletic, & personal growth.</p>
				
    </div>
    
    <div class="parallax3" style="text-align:right;">
    	<h1 class="panel3Header">How It Works</h1>
     	 <p class="thirdP">
     	 	Based on their profile, student-athletes are matched with an appropriate mentor.
     	 	Daily data is gathered on each student-athlete, which is analyzed by and discussed with their mentor.
     	 </p>
    </div>
    
 	<div class="parallax4" style="text-align:left;"">
    	<h1 class="panel2Header">Our Team</h1>
     	 <p class="secondP">
     	 	Our experienced student-athlete mentors have attended and competed for the following universities and community colleges:
     	 	UC Berkeley, Cal Poly SLO, Wesleyan University, City College of San Francisco.
     	 </p>
    </div>
    
    <script>
    	$("#aboutButton").click(function() {
    		console.log("mango");
   			$('html,body').animate({
        		scrollTop: $(".parallax2").offset().top
        	},
        	'slow');
		});
		$("#processButton").click(function() {
    		console.log("mango");
   			$('html,body').animate({
        		scrollTop: $(".parallax3").offset().top
        	},
        	'slow');
		});
		$("#samplesButton").click(function() {
    		console.log("mango");
   			$('html,body').animate({
        		scrollTop: $(".parallax4").offset().top
        	},
        	'slow');
		});
    </script>



  </body>
</html>
